#big_title {
    font-size: 30px;
    color: blueviolet;
    padding: 15px;

}

#type_info {

}

#intro {

}

#slides {

}

#text_box {

}




.type_name {

}

.type_text {

}

.intro_text {

}

.text {

}

