/* universal member */
*{

}


/* id member */
#header {
padding: 0.5%;
width: 20%;
}

#webname {
font-size: 2vw;
}

#title_empty {
    width: 20%;  
}

#big_title {
    width: 75%;
    font-size: 2.5vw;
    padding-left: 10%;
}



#intro {
    width: 75%;
    padding-left: 10%;
}

#slides {

}


#footer {
    display:flex;
    gap: 10px;
    margin: 0px;
}




/* class member */
.main_box {
    width: 80vw;
    display:flex;
    margin: auto;
}

.type_info {  
    text-align: right;
    width: 25%;
}

.type_name {

}

.type_text {

}


.text {

}

