
*{

}


#head0 {
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
body {
    background-color: cadetblue;
}


/* Basic Dropdown button circle*/
.dropbtn {
    background-color: rgba(255, 255, 255, 0.507);

    margin: 4px 2px;
    text-align: center;
    color:black;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

/*Dropdown button hover and click effect*/
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(255, 255, 255);
    padding: 25px;

}

/*location of the whole dropdown(button and links)*/
.dropdown {
    bottom: 10px;
    right: 10px;

    position: fixed;
    display: inline-block;

}

/*Dropdown: hidden effect by default*/
.dropdown-content {
    display: none;
    bottom: 60px;
    right: 10px;
    position: absolute;
    background-color: #f1f1f1a2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.377);
    z-index: 1;

}

/*Links inside the dropdown*/ 
.dropdown-content a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Change color of dropdown links when hovering*/
.dropdown-content a:hover {
    background-color: #f1f1f1cb;
    font-weight: 900;
    font-style: italic;
}

/*show the dropdown menu(JS)*/
.show{display: block;}
